@media screen and (max-width:768px) {
    .navbar-main .center .input-group{
        display: none;
    }
}
@media screen and (max-width:576px) {
    .profile-info{
        width: 100%;
        height: 100vh;
        right:0;
        top: 0;
    }
    
}
@media screen and (max-width:400px){
    .navbar-main .left-side .logo{
        display: none;
    }
}